<!DOCTYPE html>
<html lang="bn" class="scroll-smooth">
<head>
    {{ partial "head.html" . }}
</head>
<body class="antialiased bg-white text-black" data-page="{{ if eq .Section "installation" }}installation{{ else if eq .Section "documentation" }}docs{{ else if eq .Section "quickstart" }}quickstart{{ end }}" style="background-color: #ffffff; color: #000000;">
    {{ partial "header.html" . }}
    
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
    {{ partial "mermaid.html" . }}
</body>
</html>
